<div class="container">
	<div>
		<title>Shekar </title>
		<hello name="{{ name }}"></hello>
		<p>
			<b>About Us</b><br><br>
Ek Matra is a unique one-stop-platform for all your corporate supplies. We at Ek Matra are committed to understanding your needs and in accordance with our wide range of exclusive products, registered users can carefully purchase products for corporate gifting and supplies. The Ek Matra app and website is specially designed for you to meet all your needs and have the best user-friendly experience ever. Ek Matra is not just about corporate gifting and supplies, it's about the uncommon experience and benefits of the lowest prices, express shipping, exclusive product range to choose from the world's best/quickest marketing catalogue. We are constantly making an effort to bring in the best products for our users and to provide them with the best and hassle- free business-to-business technology. So, whether you know exactly what you need or you're looking for exclusive products, "Ek Matra is here for you".
			<br><br>
Through 10 product categories, an array of 300+ products, and 1000+ upcoming products, Ek Matra aims at providing an enjoyable and most convenient experience for its registered users..
</p>



			<h2>Exclusive Product</h2>
			<h3>Lowest Price Guarantee</h3>
			<h4>Access only for Reseller Partners</h4><br>
			<a href="https://bit.ly/302wO0Z">Get the App</a>
	</div>
</div>